<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Empatía (Beta)</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="assessment">
                <span class="bi bi-heart-fill" aria-hidden="true"></span> Autoevaluación
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="impacto-en-ti">
                <span class="bi bi-info-circle" aria-hidden="true"></span> Impacto en ti
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="empatia-365">
                <span class="bi bi-calendar-event" aria-hidden="true"></span> 365 días
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="valorando-a-los-demas">
                <span class="bi bi-people" aria-hidden="true"></span> Valorar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="apego-empatia">
                <span class="bi bi-diagram-3" aria-hidden="true"></span> Apego
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="empatia-con-pas">
                <span class="bi bi-ear" aria-hidden="true"></span> Empatía PAS
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="empatia-contigo">
                <span class="bi bi-person-heart" aria-hidden="true"></span> Contigo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="acciones-diarias">
                <span class="bi bi-journal-check" aria-hidden="true"></span> Diario
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="empatia-hombres-mujeres">
                <span class="bi bi-gender-ambiguous" aria-hidden="true"></span> Hombres/Mujeres
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="validar-a-los-demas">
                <span class="bi bi-hand-thumbs-up" aria-hidden="true"></span> Validar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="amar-responsablemente">
                <span class="bi bi-heart" aria-hidden="true"></span> Amar Resp.
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="perdon-autentico">
                <span class="bi bi-shield-check" aria-hidden="true"></span> Perdón
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="empatia-al-buscar-pareja">
                <span class="bi bi-search-heart" aria-hidden="true"></span> Pareja
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="madres-solteras">
                <span class="bi bi-people-fill" aria-hidden="true"></span> Madres solteras
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="padres-solteros">
                <span class="bi bi-person-badge" aria-hidden="true"></span> Padres solteros
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="personas-divorciadas">
                <span class="bi bi-slash-square" aria-hidden="true"></span> Personas divorciadas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="personas-viudas">
                <span class="bi bi-heartbreak" aria-hidden="true"></span> Personas viudas
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
