<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Empatía (Beta)</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="assessment">
                <span class="bi bi-heart-fill" aria-hidden="true"></span> Autoevaluación
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="impacto-en-ti">
                <span class="bi bi-info-circle" aria-hidden="true"></span> Impacto en ti
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="empatia-365">
                <span class="bi bi-calendar-event" aria-hidden="true"></span> 365 días de empatía
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="valorando-a-los-demas">
                <span class="bi bi-people" aria-hidden="true"></span> Valorando a los demás
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="apego-empatia">
                <span class="bi bi-diagram-3" aria-hidden="true"></span> Empatía y apego
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="empatia-con-pas">
                <span class="bi bi-ear" aria-hidden="true"></span> Empatía con PAS
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="empatia-contigo">
                <span class="bi bi-person-heart" aria-hidden="true"></span> Empatía contigo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="acciones-diarias">
                <span class="bi bi-journal-check" aria-hidden="true"></span> Acciones diarias
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="empatia-hombres-mujeres">
                <span class="bi bi-gender-ambiguous" aria-hidden="true"></span> Empatía: hombres y mujeres
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="validar-a-los-demas">
                <span class="bi bi-hand-thumbs-up" aria-hidden="true"></span> Validar a los demás
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="amar-responsablemente">
                <span class="bi bi-heart" aria-hidden="true"></span> Amar responsablemente
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="perdon-autentico">
                <span class="bi bi-shield-check" aria-hidden="true"></span> Perdón auténtico
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="empatia-al-buscar-pareja">
                <span class="bi bi-search-heart" aria-hidden="true"></span> Empatía al buscar pareja
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
