@page "/explorar"

<PageTitle>Explorar</PageTitle>

<h1>Explorar</h1>
<p class="small text-muted">Índice de páginas para navegar por todo el contenido disponible.</p>

<div class="list-group">
    <a class="list-group-item list-group-item-action" href="/acciones-diarias">Acciones diarias</a>
    <a class="list-group-item list-group-item-action" href="/amar-responsablemente">Amar responsablemente</a>
    <a class="list-group-item list-group-item-action" href="/apego-empatia">Apego y empatía</a>
    <a class="list-group-item list-group-item-action" href="/assessment">Autoevaluación</a>
    <a class="list-group-item list-group-item-action" href="/curso-amar-al-projimo">Curso: Amar al prójimo</a>
    <a class="list-group-item list-group-item-action" href="/el-poder-del-amor">El poder del amor</a>
    <a class="list-group-item list-group-item-action" href="/empatia-365">Empatía 365</a>
    <a class="list-group-item list-group-item-action" href="/empatia-al-buscar-pareja">Empatía al buscar pareja</a>
    <a class="list-group-item list-group-item-action" href="/empatia-con-pas">Empatía PAS</a>
    <a class="list-group-item list-group-item-action" href="/empatia-contigo">Empatía contigo</a>
    <a class="list-group-item list-group-item-action" href="/empatia-hombres-mujeres">Empatía: hombres y mujeres</a>
    <a class="list-group-item list-group-item-action" href="/heridas-emocionales">Heridas emocionales</a>
    <a class="list-group-item list-group-item-action" href="/mitos-y-estereotipos">Mitos y estereotipos</a>
    <a class="list-group-item list-group-item-action" href="/perdon-autentico">Perdón auténtico</a>
    <a class="list-group-item list-group-item-action" href="/rechazar-a-los-demas-es-rechazarnos">Rechazar es rechazarnos</a>
    <a class="list-group-item list-group-item-action" href="/valorando-a-los-demas">Valorar a los demás</a>
    <a class="list-group-item list-group-item-action" href="/validar-a-los-demas">Validar a los demás</a>
    <a class="list-group-item list-group-item-action" href="/libros">Libros</a>
</div>
